@{

}
<header class="w-auto bg-white">
    <!-- Top Contact Bar -->
    <div class="flex h-12 items-center justify-end px-8">
        <!-- Contact Info -->
        <div class="flex items-center text-black">
            <div class="ml-8 mr-8 flex items-center gap-4">
                <i class="fas fa-phone"></i>
                <span class="text-[15px] font-['Roboto_Condensed']">
                    Hotline: <strong>0912 250 625</strong>
                </span>
            </div>
            <div class="ml-8 mr-8 flex items-center gap-4">
                <i class="fas fa-map-marker-alt"></i>
                <span class="text-[15px] font-['Roboto_Condensed']">Cây Xanh Haluta</span>
            </div>
        </div>
    </div>

    <!-- Navigation Bar -->
    <div class="flex h-[70px] items-center justify-between bg-[#007934] px-8">
        <!-- Logo -->
        <div class="flex items-center">
            <div>
                <img src="~/images/logo_greentech.png" alt="GreenTech Logo" class="h-[50px]">
            </div>
        </div>


        <!-- Search Box -->
        <div class="relative">
            <div class="h-9 w-[355px] rounded-[11px] bg-[#f2f2f2] shadow-inner"></div>
            <i class="fas fa-search -translate-y-1/2 absolute left-3 top-1/2 transform text-gray-500"></i>
            <span
                class="absolute left-[50px] top-1/2 transform -translate-y-1/2 text-[#707070] text-sm font-['Roboto']">
                Bạn tìm kiếm sản phẩm gì...
            </span>
        </div>

        <!-- Main Navigation -->
        <nav class="flex items-center gap-8">
            <a href="#"
                class="text-white text-[15px] font-['Roboto_Condensed'] hover:text-green-300 transition-colors">TRANG
                CHỦ</a>
            <a href="#"
                class="text-white text-[15px] font-['Roboto_Condensed'] hover:text-green-300 transition-colors">GIỚI
                THIỆU</a>
            <a href="#"
                class="text-white text-[15px] font-['Roboto_Condensed'] hover:text-green-300 transition-colors">DỰ
                ÁN</a>
            <div class="h-0.5 w-[5px] bg-white opacity-50"></div>
            <a href="#"
                class="text-white text-[15px] font-['Roboto_Condensed'] hover:text-green-300 transition-colors">CÂY
                XANH</a>
            <div class="h-0.5 w-[5px] bg-white opacity-50"></div>
            <a href="#"
                class="text-white text-[15px] font-['Roboto_Condensed'] hover:text-green-300 transition-colors">BLOG TƯ
                VẤN</a>
            <a href="#"
                class="text-white text-[15px] font-['Roboto_Condensed'] hover:text-green-300 transition-colors">LIÊN
                HỆ</a>
        </nav>

        <!-- Right Section -->
        <div class="flex items-center justify-between">
            <!-- Cart Icon -->
            <div class="flex items-center">
                <a href="#" class="relative text-white hover:text-green-300">
                    <i class="fas fa-shopping-cart text-xl"></i>
                    <span
                        class="absolute -right-2 -top-2 flex h-5 w-5 items-center justify-center rounded-full border border-white bg-[#219653] text-white text-[10px]">
                        9+
                    </span>
                </a>
            </div>

            <!-- Sign In/ Sign Up -->
            <div class="ml-8 flex items-center gap-3">
                <a href="#"
                    class="text-white text-sm font-['Roboto_Condensed'] hover:text-green-300 transition-colors duration-200">
                    <i class="fas fa-user mr-1"></i>
                    Đăng nhập
                </a>
                <span class="text-white opacity-50">|</span>
                <a href="#"
                    class="text-white text-sm font-['Roboto_Condensed'] hover:text-green-300 transition-colors duration-200">
                    <i class="fa fa-user-plus"></i>
                    Đăng ký
                </a>
            </div>
        </div>
    </div>
</header>